*.a
*.desktop
*.lnk
*.pyc
*.save
*.so
*.url
*.user
*.user.*
.*
.vs
Debug
GeneratedFiles
Release
TODO
Win32
_*
build
build*
build_win
dist/
flann.kdev4
src/matlab/*.dat
src/matlab/test.m
src/python/setup.py
test/*.bz2
test/*.dat
test/*.h5
test/*.idx
test/*.pkl
test/flann_multithreaded_test
test/flann_simple_test
test/flann_uint_autotune.py
tmp
x64
